<br>

<h1>Your Team Has been Registered Successfully !!</h1>
<div class="bg-success text-white">
  <span style="color: red">Match Date:<b>{{match_date}} </b></span>
  <br />
  <span style="color: red">Match Time:<b>{{match_time}} </b></span>
  <br />
  <span style="color: red">Slot No:<b>{{slot_no}} </b></span>
  <br />
</div>
<br>
<br>
<div>
  <span>Would you like to recieve whatsapp notification before match beings</span>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Yes
    </label>
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
      No
    </label>
  </div>
</div>
